{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body {
  background-image: linear-gradient(90deg, rgb(165, 180, 252), rgb(79, 70, 229), rgb(121, 226, 140))
}

header {
    width: 31.09px;
    height: 48px;
    left: 44px;
}
.container {
    display:flex;
    margin:auto;
}
main {
    display: flex;
    flex-direction:column;
    width:100%;
    border:0px;
    margin:20px;
}
.input-texto,#texto {
    height:100%;
    background:none;


    font-family: 'Inter';
    font-style: normal;
    font-weight: 400px;
    font-size: 32px;
    line-height: 150%;
    
    color:#62067A;
    background-color: transparent;
    border:none;
    resize:none;
}
aside {
    margin:20px 20px 20px 0;
    height:95%; 
    background-color:#000;
    width:350px;
    display:flex;
    flex-direction:column;
    align-items:center;

    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    background: #FFFFFF;
}
.copiar {
  --green: #1BFD9C;
  font-size: 15px;
  padding: 0.7em 2.7em;
  letter-spacing: 0.06em;
  position: relative;
  font-family: inherit;
  border-radius: 0.6em;
  overflow: hidden;
  transition: all 0.3s;
  line-height: 1.4em;
  border: 2px solid var(--green);
  background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%,transparent 60% , rgba(27, 253, 156, 0.1) 100%);
  color: var(--green);
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
}

.copiar:hover {
  color:var(--green);
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2);
}

.copiar:before {
  content: "";
  position: absolute;
  left: -4em;
  width: 4em;
  height: 100%;
  top: 0;
  transition: transform .4s ease-in-out;
  background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%,rgba(27, 253, 156, 0.1) 60% , transparent 100%);
}

.copiar:hover:before {
  transform: translateX(15em);
}
    
#output {
    width: 350px;
    height: 550px;
    left: 1000px;
    top: 40px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    background: #FFFFFF;

}

#output h2 {
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    color:#62067A;

}

#output span {
    font-size: 16px;
    text-align: center;
}
#input-texto {
    margin:10px;
    width:90%;
    height:80%;


    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;

    color: #0A3871;
    background-color: transparent;
    border:none;
    resize: none;

}
.criptografar {
  
  padding: 10px 20px;
  border: none;
  font-size: 17px;
  color: #fff;
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
}

.criptografar {
  background: rgb(0,140,255);
  box-shadow: 0 0 25px rgb(0,140,255);
}

.criptografar:hover {
  box-shadow: 0 0 5px rgb(0,140,255),
              0 0 25px rgb(0,140,255),
              0 0 50px rgb(0,140,255),
              0 0 100px rgb(0,140,255);

        
}


.descriptografar {
  
  padding: 10px 20px;
  border: none;
  font-size: 17px;
  color: #fff;
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
}

.descriptografar {
  background: rgb(0,140,255);
  box-shadow: 0 0 25px rgb(0,140,255);
}

.descriptografar:hover {
  box-shadow: 0 0 5px rgb(0,140,255),
              0 0 25px rgb(0,140,255),
              0 0 50px rgb(0,140,255),
              0 0 100px rgb(0,140,255);
}
        

.letras {


    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;


    color: #D8DFE8;

    opacity: 0.8;

    flex: none;
    order: 1;
    flex-grow: 0;

    bottom: 155px;
    left: 264px;
}

.buttons {
display:flex;
justify-content:center;
}
.regras{
    display:flex;
    justify-content:center;
}
footer{
  text-align: center;
  font-size: 9px;
  color:  #A9A9A9;
}